# Node modules
node_modules/
package-lock.json


# Logs
logs/
*.log
npm-debug.log*

# Editor files
.vscode/
.idea/
*.swp


# Dependency directories (in monorepos)
**/node_modules/

# Docker
docker-compose.override.yml
